<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userService" class="com.meteor.test.bean.UserService">
        <property name="token" value="12345678"/>
    </bean>

    <bean class="com.meteor.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="com.meteor.test.bean.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="com.meteor.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.meteor.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.meteor.test.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>
</beans>